@media (max-width: 600px) {
  /* Styles for mobile screens */
}
@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}


.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
   justify-content: center
}

.item {
  justify-content: center;
}