
header {
    border: 5px solid #000000;
    padding: 25px;
    text-align: center;
    font-family: "DM Serif Display", serif;
    background-color: rgb(140,142,144);
    margin-bottom: 10px;
    box-shadow: 4px 4px 8px #5e001d;
}




.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
   text-align: center;
    background-color: #fbfbf5;
    font-family: "DM Serif Display", serif;
}


.gallery2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 800px; /* optional: keeps the grid from stretching too far */
        margin: 0 auto;
        row-gap: 10px; /* vertical spacing */
        column-gap: 10px; /* horizontal spacing */
        }


.gallery2 img {
        width: 85%; /* three images per row (3 x 30% + gaps) */
        height: auto;
        border-radius: 12px;
    }


.paragraph {
        background-color: rgb(140, 142, 144);
        padding: 10px;
        border: 5px solid #000000;
        margin-top: 20px;
        font-family:"DM Serif Display", serif;
}



.item {
 background-color: rgb(94, 0, 29); 
 padding: 60px 20px;
 border-radius: 8px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.item img {
  padding: 0;
  width: 100%; /* makes the image fill the container’s width */
  height: auto; /* maintains the image's aspect ratio */
  display: block; /* clears any space after the image */

}

.item p {
  text-align: center;
  display: flex;
  align-items: center;
}


.carousel-item img {
  max-height: 1080px;
  object-fit: cover;
  width: 100%;
}

button {
  background-color: rgb(94, 0, 29);
  transition: background-color 0.5s ease; 
}

button:hover {
  background-color: rgb(94, 0, 29);
}

 video {
        width: 100%;
    }
 #audio {
    text-align: center;
  }

h3{
    text-align: center;
   font-family:"DM Serif Display", serif;
  
}
li:hover {
  background-color:rgb(94, 0, 29);
}
   footer {
        background-color: #000000;
        font-family:"DM Serif Display", serif;
        color: #FFFFFF;
        padding: 5px;
        text-align: center;
    }

img{
        display: block;
        max-width: 50%;
        margin: 0 auto;
        image-orientation: center;
        gap: 10px;
  
}
blockquote {
        background-color: rgb(140, 142, 144);
        padding: 10px;
        border: 5px solid #000000;
font-family: "DM Serif Display", serif;

   
    text-align: center;
    background-color: rgb(140,142,144);
    margin-bottom: 10px;
    box-shadow: 4px 4px 8px #5e001d;
}



/* unvisited link */
a:link {
  color:  rgb(140, 142, 144);
}
/* visited link */
a:visited {
  color: rgb(140, 142, 144);
}

/* mouse over link */
a:hover {
  color: rgb(94,0, 29);
}



@media (max-width: 600px) {
  /* Styles for mobile screens */
}
@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}