header {
  text-align: center;
}

body {
  margin: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  margin: auto; 
  padding: 10px;
}

.item {
 background-color: #fcf9ff; 
 padding: 80px 20px;
 border-radius: 8px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.item img {
  padding: 0;
  width: 100%; /* makes the image fill the container’s width */
  height: auto; /* maintains the image's aspect ratio */
  display: block; /* clears any space after the image */
  border-radius: 8px; /* optional */
}

.item p {
  text-align: center;
  display: flex;
  align-items: center;
}

.navbar-brand {
  position: absolute;
  top: 8px;
}


@media (max-width: 600px) {
  /* Styles for mobile screens */
}
@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}