/* Here is my body styling. this applies to all of the content on the page. */ 
body {
    background-color: #8fbc9a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
       




header {
  padding: 35px;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

li {
  list-style-type: none;
  color: navy;
  display: inline-block;
  font-family: Georgia, serif;
}

/* Here is my div styling */    
    div {
        background-color: #FFFAFA;
        padding: 10px;
        border: 5px solid #000000;
        margin-top: 10px;
        font-family: Tahoma, sans-serif;
    }

/* Footer styling */
    footer {
        background-color: #000000;
        color: #FFFFFF;
        padding: 5px;
        text-align: center;
        margin-top: 10px;
    }
/* Image styling */    
    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        image-orientation: center;
    }