/* Body styling for all pages.*/ 
body {
    background-color: #869075
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header styling.*/      
header {
  padding: 35px;
  text-align: center;
  background-color: #d4cba6;
}


li {
  list-style-type: none;
  color: navy;
  display: inline-block;
  font-family: Georgia, serif;
}

/* Here is my div styling */    
    div {
        background-color: #abc1cf;
        padding: 10px;
        border: 5px solid #000000;
        margin-top: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Centers the h3 inside the div */    
    div h3 {
        text-align: center;
    }


/* Footer styling */
    footer {
        background-color: #000000;
        color: #FFFFFF;
        padding: 5px;
        text-align: center;
        margin-top: 10px;
    }
/* Image styling */    
    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        image-orientation: center;
    }