/* Body styling for all pages.*/ 
body {
    background-color: #869075;
}

/* Header styling.*/      
header {
    border: 5px solid #000000;
    padding: 25px;
    text-align: center;
    text-decoration-color: #FFFFFF;
    background-color: #364239;
    margin-bottom: auto;
}

/* Navigation styling.*/
    nav {
        max-width: 100%;
        margin: 0 auto;
        background-color: #000000;
    }



text {
    font-family: 'Courier New', Courier, monospace;
}







li {

list-style-type: none

}

li {
  list-style-type: none;
  color: navy;
  display: inline-block;
  font-family: Georgia, serif;
}

/* Here is my div styling */    
    div {
        background-color: #abc1cf;
        padding: 10px;
        border: 5px solid #000000;
        margin-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Centers the h3 inside the div */    
    div h3 {
        text-align: center;
    }


/* Footer styling */
    footer {
        background-color: #000000;
        color: #FFFFFF;
        padding: 5px;
        text-align: center;
    }
/* Image styling */    
    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        image-orientation: center;
    }